# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
# Supabase Publishable Key (atau Anon Key)
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxx
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJxxxx

# App URL Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
